<!-- <div class="navbar-fixed"> 
    <ul id="dropdown1" class="dropdown-content">
        <li><a [routerLink]="['/perfil/',user.id]">Perfil</a></li>
        <li><a href="#">Mis Tarjetas</a></li>
        <li><a href="#">Favoritas</a></li>
        <li class="divider"></li>
        <li><a href="#">Salir</a></li>
    </ul>
  <nav>
      <div class="nav-wrapper">
        <img src="../../assets/idea.png" class="brand-logo" alt="...">
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><img src="../../assets/perfil.jpg" class="img" alt="..."></li>
          <li><a routerLink="/games" routerLinkActive="active"><i class="fas fa-gamepad"></i> Usuario</a></li>
          <li><a routerLink="/games/add" routerLinkActive="active"><i class="fas fa-plus-circle"></i> Agregar</a></li>
          <li><a class="dropdown-trigger" data-target="dropdown1">Opciones<i class="material-icons right">arrow_drop_down</i></a></li>
        </ul>
      </div>
    </nav>
</div>



 -->
<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">one</a></li>
  <li><a href="#!">two</a></li>
  <li class="divider"></li>
  <li><a href="#!">three</a></li>
</ul>
<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">Logo</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="sass.html">Sass</a></li>
      <li><a href="badges.html">Components</a></li>
      <!-- Dropdown Trigger -->
      <li><a class="dropdown-trigger" href="#" data-target="dropdown1">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
  </div>
</nav>