<div>

<div class="card-columns  mt-3">
  <div class="card" *ngFor="let cards of cards_array">
    <img [src]=cards.image class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{cards.title}}</h5>
      <p class="card-text">{{cards.description}}</p>
      <p class="card-text">{{cards.precio}}</p>
        <button type="button" class="btn btn-outline-danger btn-block btn-sm" (click)="eliminarDeFavoritas(cards.id_tarjeta)">Eliminar de favoritas</button>
    </div>
  </div>
</div>
</div>
