<!-- <br>
<div class="row container">
  <div class="col-12 col-md-6 col-lg-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          Crea tu tarjeta personalizada
        </h5>
        <h6 class="card-subtitle mb-2 text-muted">Los campos con * son obligatorios</h6>
         formulario para agregar la info de la tarjeta
        <div class="container">
          <form name="form1" #form="ngForm">
            <div class="row">
              <div class="col-12 col-md-6 col-lg-12">
                <label>Titulo de la tarjeta</label>
                <input type="text" name="title" required="" class="form-control form-control-sm " [(ngModel)]="card.title">
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-12 col-md-6 col-lg-12">
                <label>Descripción de la tarjeta</label>
                <textarea class="form-control form-control-sm" required="" name="description" rows="3" [(ngModel)]="card.description"></textarea>
              </div>
            </div>
            <br> 
            <div class="row">
              <div class="col-12 col-md-6 col-lg-12">
                <label>Precio</label>
                <input type="number" class="form-control form-control-sm" required="" name="precio" [(ngModel)]="card.precio">
              </div>
              <br>
            </div>
            <div class="row">
              <div class="col-12 col-md-6 col-lg-12">
                <label>imagen</label>
                <input type="file" class="form-control-file" [(ngModel)]="card.image">
              </div>
            </div>
            <br>
          </form>
        </div>
        <button class="btn btn-success" (click)="guardarTarjeta()">Guardar tarjeta</button>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-6">
      <div class="card" >
        <h3>Pre visualizacion de la tarjeta</h3>
          <img [src]="card.image == '' ? '../../assets/default-image-game.jpg' : card.image  " class="card-img-top" >
          <div class="card-body">
            <h5>{{card.title == '' ? 'El título de la tarjeta va aquí' : card.title}}</h5>
            <p class="card-text">{{card.description == '' ? 'La descripción va aquí' : card.description}}</p>
            <p class="card-text">{{card.precio}}</p>
          </div>
        </div>
  </div>
  </div> -->
  <br>
<br>
<div class="row container">
  <div class="col-sm-12 col-md-6 col-lg-6">
    <div class="card">
      <div class="card-head text-center">
        <br>
          <h4>Agregar tarjeta</h4>
      </div>
      <div class="card-body">
          <div class="fomr-group">
              <input type="text" name="title" class="form-control" placeholder="Title goes here" autofocus required [(ngModel)]="card.title" >
          </div>
          <br>
          <form>
          <div class="fomr-group">
            <textarea name="description" placeholder="Description" rows="2" class="form-control" autofocus required="" [(ngModel)]="card.description" ></textarea>
          </div>
          <br>
          <div class="fomr-group">
              <input type="url" name="image" class="form-control" placeholder="URL image goes here" autofocus [(ngModel)]="card.image" >
          </div>
          <br>
          <!-- <button class="btn btn-success btn-block" (click)="edit ? updateGame(game.id) : saveNewGame()">save</button> -->
        </form>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-6">
    <div class="card card-body text-center">
        <img [src]="card.image == '' ? '/assets/default-image-game.jpg' : card.image  " class="img-card">
        <br>
        <h3> {{card.title == '' ? 'Game Title' : card.title}}</h3>
        <br>
        <p>{{card.description == '' ? 'Description goes here' : card.description}}</p>
        <br>
        <!-- <p>{{ game.created_at | date: 'yyyy-MM-dd'}}</p> -->
    </div>
  </div>
</div>




