
<div class="card-columns  mt-3">
  <div class="card" *ngFor="let game of GAMES_ARRAY">
    <img [src]=game.image class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{game.title}}</h5>
      <p class="card-text">{{game.description}}</p>
      <p class="card-text"><small class="text-muted">
        <button [routerLink]="['/games/edit',game.id]" type="button" class="btn btn-outline-info btn-block">Edit</button>
          <button type="button" [routerLink]="['/games']" class="btn btn-outline-danger btn-block" (click)="deleteGame(game.id)">Delete</button>
        </small></p>
    </div>
  </div>
</div>