<br>
<br>
<div class="row"> 
  <!--Foto de perfil-->
  
  <div class="col-12 col-md-12 col-lg-12 text-center" >
      <img [src]=user.image class="img img-fluid" alt="Responsive image">
  </div>
</div>
<br>
<h4 class="text-divider"><span>Información personal</span></h4>
<div class="row"> 
    <div class="col-12 col-md-6 col-lg-6">
            <label for="nombre">nombre</label>
            <input type="text" class="form-control-sm form-control" id="nombre" value="{{user.nombre}}">
      </div>
      <div class="col-12 col-md-6 col-lg-6">
           <label for="apellido">Apellido</label>
           <input type="text" class="form-control-sm form-control" id="apellido" value="{{user.apellido}}">
      </div>
</div>
<br>
<div class="row"> 
    <div class="col-12 col-md-6 col-lg-6">
        <label for="correo">Correo</label>
        <input type="email" class="form-control-sm form-control" id="correo" value="{{user.correo}}">
    </div>
    <div class="col-12 col-md-6 col-lg-6">
        <label for="telefono">Telefono</label>
        <input type="tel" class="form-control-sm form-control" id="telefono" value="{{user.telefono}}">
    </div>
</div>
<br>
<div class="row"> 
    <div class="col-12 col-md-6 col-lg-6">
        <label for="usuario">Usuario</label>
        <input type="text" class="form-control-sm form-control" id="usuario" value="{{user.nombre_usuario}}">
    </div>
    <div class="col-12 col-md-6 col-lg-6">
        <label for="contrasena">Contraseña</label>
        <input type="password" class="form-control-sm form-control" id="contrasena" value="{{user.contrasena}}">
    </div>
</div>
<div class="row"> 
    <div class="col-12 col-md-6 col-lg-6">
        <label for="ConfirmarContrasena">Confirmar contraseña</label>
        <input type="text" class="form-control-sm form-control" id="confirmContra" value="">
    </div>
    <div class="col-12 col-md-6 col-lg-6">
        <button class="btn btn-success btn-sm" (click)="edit ? updateUser(user.id) : saveNewUSer()">save</button>
    </div>
</div>
<br>
<br>