a {
  text-decoration: none;
  color: #d6d6d6;
}

/* a:hover,
a:active {
    color: $color_lightgray;
} */

.hoverSidebar:hover {
  background-color: #EF6C00;

}

.nav-caption {
  color: #d6d6d6;
  display: inline-block;
  padding: 0px 0px;
}

mat-list-item {
  padding: 0px !important;
}

/* mat-nav-list {
  padding-top: 0px;

  .list_nav {
    .listNav_items {
      border-bottom: 1px solid $color_black;

      .mat-list-item-content {
        padding: 0px;
      }

      .listNavItems_conf {
        list-style: none;
        margin: 0px;
        padding: 0.6em 0;
        width: 100%;
        position: absolute;
        right: 0;

        .listNavItemsConf_item {
          font-family: 'Montserrat', sans-serif;
          font-size: 13px;
          display: inline-block;

          &:first-child {
            border-right: 1px solid $color_black;
            color: $color_withe;
            padding: 0px 10px;
            -webkit-transition: width 2s;

            transition: width 2s;

            mat-icon {
              font-size: 18px;
              vertical-align: sub;
            }

            &:active {
              background-color: $colo_orange;

            }
          }

          &:nth-child(2) {
            width: 132px;
          }

          &:last-child {
            color: $color_red;
            padding-left: 2px;

            mat-icon {
              vertical-align: middle;
            }
          }
        }
      }
    }
  }

  .logo {
    background-color: $color_red;
    height: 64px;

    img {
      max-height: 60px;
      margin-top: -1px;
      margin-left: 60px;
      vertical-align: middle;
    }
  }
} */

.menu-button {
  transition: 300ms ease-in-out;
  transform: rotate(0deg);
}

.menu-button.rotated {
  transform: rotate(180deg);
}

.submenu {
  overflow-y: hidden;
  transition: transform 300ms ease;
  transform: scaleY(0);
  transform-origin: top;
}

.submenu.expanded {
  transform: scaleY(1);
}

.colors {
  background: #EF6C00;
}
