<mat-nav-list>
    <div class="logo">
    </div>
    <div class="list_nav">
      <div *ngFor="let modulo of modulos; let i = index">
        <mat-list-item (click)="modulo.expanded = !modulo.expanded; cerrarItems(modulo);" class=" parent listNav_items ">
          <ul class="listNavItems_conf hoverSidebar " [class.colors]="modulo.expanded">
            <li class="listNavItemsConf_item hoverSidebarIcono ">
              <mat-icon>settings</mat-icon>
            </li>
            <li class="listNavItemsConf_item "> <span class="nav-caption ">{{modulo.module}}</span> </li>
            <li class="listNavItemsConf_item ">
              <mat-icon class="menu-button " [ngClass]="{ 'rotated' : modulo.expanded} " *ngIf="modulo.expanded || !modulo.expanded">
                expand_more
              </mat-icon>
            </li>
          </ul>
        </mat-list-item>
        <div *ngFor="let subModulo of modulo.options; let in= index">
          <div class="submenu" [ngClass]="{ 'expanded' : modulo.expanded} " *ngIf="modulo.expanded">
            <div *ngIf="subModulo.option">
              <a (click)="route(subModulo.route)" mat-list-item class="listNav_items ">
                <ul class="listNavItems_conf ">
                  <li class="listNavItemsConf_item">
                    <i class="material-icons">navigate_next</i>
                  </li>
                  <li class="listNavItemsConf_item " > <span class="nav-caption ">{{subModulo.option}}</span>
                  </li>
                </ul>
              </a>
            </div>
            <div *ngIf="subModulo.options">
              <mat-list-item (click)="subModulo.expanded = !subModulo.expanded; cerrarSubItems(modulo,subModulo);" class=" parent listNav_items ">
                <ul class="listNavItems_conf  " [class.colors]="subModulo.expanded">
                  <li class="listNavItemsConf_item ">
                    <mat-icon>settings</mat-icon>
                  </li>
                  <li class="listNavItemsConf_item "> <span class="nav-caption ">{{subModulo.module}}</span> </li>
                  <li class="listNavItemsConf_item ">
                    <mat-icon class="menu-button " [ngClass]="{ 'rotated' : subModulo.expanded} "
                      *ngIf="subModulo.expanded ||  !subModulo.expanded">
                      expand_more
                    </mat-icon>
                  </li>
                </ul>
              </mat-list-item>
              <div *ngFor="let subModulo2 of subModulo.options">
                <div class="submenu" [ngClass]="{ 'expanded' : subModulo.expanded} " *ngIf="subModulo.expanded">
                  <a (click)="route(subModulo2.route)" mat-list-item class="listNav_items ">
                    <ul class="listNavItems_conf ">
                      <li class="listNavItemsConf_item">
                        <i class="material-icons">navigate_next</i>
                      </li>
                      <li class="listNavItemsConf_item " > <span
                          class="nav-caption ">{{subModulo2.option}}</span> </li> 
                    </ul>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-nav-list>
  
  